{
  "name": "{{npm_scope}}/{{name}}",
  "version": "0.1.0",
  "description": "{{description}}",
  "type": "module",
  "files": [
    "bin/",
    "src/",
    "README.md",
    "LICENSE"
  ],
  "bin": {
    "{{name}}": "./bin/{{name}}.mjs"
  },
  "scripts": {
    "test": "node --test tests/*.test.mjs"
  },
  "keywords": [],
  "repository": {
    "type": "git",
    "url": "git+https://github.com/{{github_owner}}/{{name}}.git"
  },
  "publishConfig": {
    "access": "public"
  },
  "homepage": "https://github.com/{{github_owner}}/{{name}}#readme",
  "bugs": {
    "url": "https://github.com/{{github_owner}}/{{name}}/issues"
  },
  "engines": {
    "node": ">=18.0.0"
  },
  "license": "MIT"
}
